<% if !@routines.blank? %>
  <h1>Your Existing Routines</h1>
  <%= button_to "Create a New Routine", new_routine_path, method: :get %>
  <% @routines.each do |routine| %>
  <li><%= link_to routine.name, routine %></li>
  <% end %>
<% else %>
  <h1>You have no routines</h1>
  <%= button_to "Create a New Routine", new_routine_path, method: :get %>
<% end %>
