<h1>Select A Muscle To Specify</h1>
<%= @category.name %>
<% if @category.muscles != nil  %>
  <% @category.muscles.select{|muscle|muscle.category_name == @category.name}.uniq.each do |muscle| %>
    <li> <%= link_to muscle.name, muscle %> </li>
<% end %>
<% end %>


    <div id="img">
   <%= image_tag(@category.image_url) %>
 </div>
