<h1>Body Part Show Page</h1>
<%= @category.name %>
<% if @category.muscles != nil  %>
  <% @category.muscles.uniq.each do |muscle| %>
    <li> <%= link_to muscle.name, muscle %> </li>
<% end %>
<% end %>
