<h1><%= @muscle.name %></h1>
<%= @muscle.description %>
<% if @muscle.exercises != nil  %>
  <% @muscle.exercises.each do |exercise| %>
    <li> <%= link_to exercise.name, exercise %> </li>
<% end %>
<% end %>
