<center>

   <%= image_tag(@muscle.image_url) %>



<h1>Select an Exercise for <%= @muscle.name %></h1>
<%= @muscle.description %>
<% if @muscle.exercises != nil  %>
  <% @muscle.exercises.each do |exercise| %>
    <li> <%= link_to exercise.name, exercise %> </li>
<% end %>
<% end %>

</center>
