<div class="title-container"
<h1>Exercises</h1>
<%= link_to "New Exercise", new_exercise_path, class: "btn btn-default" %>
</div>


<div class="exercises">
<% @exercises.each do |exercise| %>
<li><%= link_to exercise.name, exercise %></li>
      <% if exercise.creator_id == session[:current_user_id] %>
        <%= button_to "Edit", edit_exercise_path(exercise), method: :get, class: "btn btn-default"  %>
        <%= button_to 'Delete', exercise_path(exercise), method: :delete, data: {confirm: 'Are you sure?'}  %>
      <% end %>
<% end %>
