<%= @exercise.name %> <br>
<%= @exercise.description %> <br>
<%= @exercise.instructions %> <br>
<% if @exercise.muscles != nil  %>
  <% @exercise.muscles.each do |muscle| %>
    <li> <%= link_to muscle.name, muscle %> </li>
  <% end %>
<% end %>
